---
import World from '@components/icons/World.astro';
const {currentLocale} = Astro;
const {t} = Astro.props;
const LANGS = [
	{value: 'es', short_label: 'ES'},
	{value: 'en', short_label: 'EN'},
];
---

<button id="button-languages" class="text-gray-800 flex items-center justify-center gap-1 hover:bg-primary hover:border-primary z-20 px-4 py-1 rounded-full hover:scale-105"> 
    <World class="fill-gray-800 size-6"/>
    <span class="uppercase font-medium w-[24px]">{currentLocale}</span>
</button>
<div id="dropdown-languages" class="hidden justify-end w-full items-center absolute left-10 z-10 border rounded-full border-accent text-center duration-300">
    <ul class="flex flex-row justify-end items-center gap-2 p-1">
        {
            LANGS.filter(lang => lang.value.toLowerCase() !== currentLocale).map( lang => (
                <li class="lang-option hover:text-accent hover:font-semibold cursor-pointer px-2" value={lang.value}>
                    {lang.short_label}
                </li>
            ))
        }
    </ul>
</div>

<style>
    #dropdown-languages.open {
        display: block;
        animation:scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @keyframes scale-up-center {
        0% {
            transform: scale(0.8);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

</style>

<script is:inline>

    const dropdown = document.getElementById('dropdown-languages');
    const button = document.getElementById('button-languages');
    const currentlang = button.innerText.toLocaleLowerCase();

    // Close dropdown when clicking outside
    document.addEventListener('click', () => {
        dropdown.classList.remove('open');
    });

    // Toggle dropdown when clicking on button
    button.addEventListener('click', (e) => {
        e.stopPropagation();
        const isOpened = dropdown.classList.contains('open');
        dropdown.classList.toggle('open', !isOpened);
        console.log(isOpened);
        if(isOpened) {
            button.classList.remove("bg-accent", "border-accent");
        } else {
            button.classList.add("bg-accent", "border-accent");
        }
    }); 

    // Change language when clicking on option
    dropdown.addEventListener('click', (e) => {
        const lang = e.target.getAttribute('value');
        console.log(lang);
        if (lang && lang !== currentlang) {
            (lang === "es")? window.location.href = `/`: window.location.href = `/${lang}/`;
        }
    });

</script>