---
import Header from '@components/sections/Header.astro';
import Footer from '@components/sections/Footer.astro';
import '@styles/globals.css';
const { currentLocale } = Astro.props;
const { t } = Astro.props;

---

<!doctype html>
<html lang="{currentLocale}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<title>{t.title}</title>
	</head>
	<body class="font-merriweather text-gray-900 dark:text-white">
		<Header currentLocale="{currentLocale}" t={t}/>
		<slot />
		<Footer t={t}/>		
	</body>
</html>

<style is:global>
	:root{
		color-scheme: light dark;
	}
</style>